Meso/TheoticuanasTeotihuacan/Platforms/MacOS/BLPs/UI/Icons.blp filter=lfs diff=lfs merge=lfs -text
Meso/TheoticuanasTeotihuacan/Platforms/Windows/BLPs/UI/Icons.blp filter=lfs diff=lfs merge=lfs -text
NorthAmerica/ThuleKiviuq/Platforms/MacOS/BLPs/UI/Icons.blp filter=lfs diff=lfs merge=lfs -text
NorthAmerica/ThuleKiviuq/Platforms/Windows/BLPs/UI/Icons.blp filter=lfs diff=lfs merge=lfs -text
Asia/TibetTrisongDetsen/Platforms/MacOS/BLPs/UITextures.blp filter=lfs diff=lfs merge=lfs -text
Asia/TibetTrisongDetsen/Platforms/Windows/BLPs/UITextures.blp filter=lfs diff=lfs merge=lfs -text
Mediterranean/PhoeniciaAhiram/Platforms/Windows/BLPs/UI/Icons.blp filter=lfs diff=lfs merge=lfs -text
CIVITASResources/Textures/p0k_Resources_MODE_Atlas_256.dds filter=lfs diff=lfs merge=lfs -text
CIVITASResources/Textures/p0k_Resources_MODE_Atlas_FOW.dds filter=lfs diff=lfs merge=lfs -text
CIVITASResources/Textures/p0k_Resources_Atlas_256_FOW.dds filter=lfs diff=lfs merge=lfs -text
CIVITASResources/Textures/p0k_Resources_Atlas_256.dds filter=lfs diff=lfs merge=lfs -text
CIVITASResources/Platforms/MacOS/BLPs/UI/Icons.blp filter=lfs diff=lfs merge=lfs -text
CIVITASResources/Platforms/Windows/BLPs/UI/Icons.blp filter=lfs diff=lfs merge=lfs -text
Europe/GaulVercingetorix/Platforms/MacOS/BLPs/leaders/Leader_Suk_Vercinegtorix.blp filter=lfs diff=lfs merge=lfs -text
Europe/GaulVercingetorix/Platforms/MacOS/BLPs/UITextures.blp filter=lfs diff=lfs merge=lfs -text
Europe/GaulVercingetorix/Platforms/Windows/BLPs/leaders/Leader_Suk_Vercinegtorix.blp filter=lfs diff=lfs merge=lfs -text
Europe/GaulVercingetorix/Platforms/Windows/BLPs/UITextures.blp filter=lfs diff=lfs merge=lfs -text
Africa/SwahiliAlHasanibn/Platforms/MacOS/BLPs/UITextures.blp filter=lfs diff=lfs merge=lfs -text
Africa/SwahiliAlHasanibn/Platforms/Windows/BLPs/UITextures.blp filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.blp filter=lfs diff=lfs merge=lfs -text
